/* reset ant css */
.ant-layout-sider::-webkit-scrollbar {
	display: none;
}
/* reset ant css end*/

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	/* pointer-events: none; */
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.wrapper {
	display: flex;
	width: 100%;
	height: 100%;
	background: #001529;
	justify-content: center;
	align-items: center;
}

.login-form.loginForm {
	width: 400px;
	background: #fff;
	padding: 50px 50px 20px 50px;
	border-radius: 10px;
}
.login-form.loginForm .login-form {
	max-width: 300px;
}
.login-form.loginForm .login-form-forgot {
	float: right;
}
.login-form.loginForm .login-form-button {
	width: 100%;
}


.todos input {
	width: 100%;
	height: 40px;
	margin: 5px 0;
	color: #666;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #ddd;
	outline: none;
	text-indent: 10px;
	transition: 0.3s;
}
.todos .btn {
	height: 40px;
	margin: 5px 0;
	padding: 0 20px;
	color: #fff;
	background: #409fce;
	font-size: 14px;
	border-radius: 4px;
	border: 1px solid #ddd;
	outline: none;
	transition: 0.3s;
}